@page "/about"
@inject HttpClient Http

<h1>About AudioCuesheetEditor</h1>

<p>Written by Sven Baus (<a href='mailto&#58;%73&#46;ba&#117;%7386%4&#48;g&#37;6D%78&#46;ne%&#55;4'>s&#46;baus8&#54;&#64;&#103;mx&#46;net</a>)</p>

<a href="https://github.com/NeoCoderMatrix86/AudioCuesheetEditor" target="_blank">https://github.com/NeoCoderMatrix86/AudioCuesheetEditor</a>

<br />
<br />
<h3>Licence</h3>

<p>@((MarkupString)licence)</p>

@code {

    private String licence;

    protected override async Task OnInitializedAsync()
    {
        licence = (await Http.GetStringAsync("Licence.txt")).Replace(Environment.NewLine, "<br />");
    }
}
