@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <CultureSelector />
        <NavLink class="ml-md-auto" href="about">About</NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
