name: Build & Deploy

on:
  push:
    branches:
      - development
      - master
  workflow_dispatch:

jobs:
  run-tests:
    uses: ./.github/workflows/run_tests.yml
  build:
    needs: run-tests
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6

    # version can be found here https://dotnet.microsoft.com/en-us/download/dotnet/10.0
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Install wasm-tools
      run: dotnet workload install wasm-tools

    - name: Build release
      run: dotnet publish AudioCuesheetEditor --configuration Release --output release
      
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v6
      with:
        name: AudioCuesheetEditor-Release
        path: ./release

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: |-
      ${{
         github.ref_name == 'master' && 'Production'
      ||                                'Preview'
      }}
    steps:
    - name: Download Build Artifact
      uses: actions/download-artifact@v7
      with:
        name: AudioCuesheetEditor-Release
    - name: Deploy to Netlify
      uses: nwtgck/actions-netlify@v3
      with:
        publish-dir: './wwwroot'
        production-deploy: true
        fails-without-credentials: true
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ vars.NETLIFY_SITE_ID }}
